 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 287px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 157px 0;
}

.u-section-1 .u-list-1 {
  width: 585px;
  margin: 20px auto 60px 278px;
}

.u-section-1 .u-repeater-1 {
  min-height: 65px;
  grid-auto-columns: calc(33.3333% - 70px);
  grid-template-columns: calc(33.3333% - 70px) calc(33.3333% - 70px) calc(33.3333% - 70px);
  grid-gap: 105px 105px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 70px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 70px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-left: 135px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 195px;
    grid-auto-columns: calc(50% - 52.5px);
    grid-template-columns: repeat(2, calc(50% - 52.5px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 557px;
}

.u-section-2 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1139px;
  margin: -10px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 65px;
  grid-auto-columns: calc(33.3333% - 126.667px);
  grid-template-columns: calc(33.3333% - 126.667px) calc(33.3333% - 126.667px) calc(33.3333% - 126.667px);
  grid-gap: 190px 190px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-btn-1 {
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-btn-2 {
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-btn-3 {
  margin: 0 auto;
}

.u-section-2 .u-list-2 {
  width: 1139px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 65px;
  grid-auto-columns: calc(33.3333% - 126.667px);
  grid-template-columns: calc(33.3333% - 126.667px) calc(33.3333% - 126.667px) calc(33.3333% - 126.667px);
  grid-gap: 190px 190px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-btn-4 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-btn-5 {
  margin: 0 auto 0 0;
  padding: 10px 30px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-btn-6 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-3 {
  width: 1139px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-repeater-3 {
  min-height: 65px;
  grid-auto-columns: calc(33.3333% - 126.667px);
  grid-template-columns: calc(33.3333% - 126.667px) calc(33.3333% - 126.667px) calc(33.3333% - 126.667px);
  grid-gap: 190px 190px;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-btn-7 {
  margin: 0 auto 0 0;
  padding: 10px 28px;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-btn-8 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-btn-9 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-10 {
  margin: 20px auto 0 0;
  padding: 10px 66px;
}

.u-section-2 .u-btn-11 {
  margin: -40px auto 0;
  padding: 10px 67px 10px 65px;
}

.u-section-2 .u-btn-12 {
  margin: -45px 22px 60px auto;
  padding: 10px 56px 10px 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 54px;
    grid-auto-columns: calc(33.333333333333336% - 126.66699999999999px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 126.66699999999999px));
  }

  .u-section-2 .u-btn-1 {
    padding: 10px 34px 10px 33px;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 54px;
    grid-auto-columns: calc(33.333333333333336% - 126.66699999999999px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 126.66699999999999px));
  }

  .u-section-2 .u-list-3 {
    width: 940px;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 54px;
    grid-auto-columns: calc(33.333333333333336% - 126.66699999999999px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 126.66699999999999px));
  }

  .u-section-2 .u-btn-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 124px;
    grid-auto-columns: calc(50% - 95.00025px);
    grid-template-columns: repeat(2, calc(50% - 95.00025px));
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 124px;
    grid-auto-columns: calc(50% - 95.00025px);
    grid-template-columns: repeat(2, calc(50% - 95.00025px));
  }

  .u-section-2 .u-list-3 {
    width: 720px;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 124px;
    grid-auto-columns: calc(50% - 95.00025px);
    grid-template-columns: repeat(2, calc(50% - 95.00025px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-3 {
    width: 540px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-list-3 {
    width: 340px;
  }

  .u-section-2 .u-repeater-3 {
    grid-auto-columns: 100%;
  }
}